.headertop {
    padding: 33px 64px;
}
.top_menu_second {
    transform: translateX(-370px);
}
/*DEMO*/
.open .top_menu_second {
    transform: translateX(0px);
}
.top_menu p::before {
    background: transparent url("../img/icon/iconmenu.png") no-repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: block;
    height: 44px;
    width: 44px;
}
.top_menu span {
    display: none;
}
.dropdown-menu.mega-dropdown-menu {
    left: 0% !important;
    top: 30% ;
}
.text_menu {
    background: #141414 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 17px;
    padding-bottom: 8px;
    padding-left: 51px;
    padding-top: 8px;
    text-transform: uppercase;
}
.top_menu_second .container{
	 width: 370px;
	 padding:0;
}
.pe.pe-7s-close {
    right: 56px;
    top: 8px;
}
.user-info.btn-group a {
    color: #7c7c7c;
}
#jms-megamenu-container {
    padding-top: 100px;
}
.jms-megamenu .nav > li{
	padding:0 !important;
}
.btn-group.compact-hidden.user-info a:hover {
    color: #fff;
}
#jms-megamenu-container {
    border-radius: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}
.logo > span {
    line-height: 37px;
}
 .top_group #layer_cart a {
    line-height: 24px;
}
.btn-group.open .dropdown-menu::before{
	right:49px;
}
.jms-megamenu .open > .dropdown-menu {
    top: 75% !important;
}


.jms-megamenu .item-fullwidth.open > .dropdown-menu {
    top: -86px !important;
}
.top_menu_second .btn-group.open .dropdown-menu::before{
	display:none;
}
.top_logo {
    text-align: center;
}
.top_menu_second .addon-box .btn-group {
    margin-left: 50px;
    margin-right: 50px;
}
.top_group .pe {
    font-size: 27px;
    line-height: 43px;
}

#cart_block .ajax_cart_quantity{
    left: 19px;
    top: -2px;
}
#ajax_search {  
    top: -39px;
}
#cart_block .shoppingcart-box {
    left: auto;
    right: -43px;
    top: 69px;
}
/*BODy*/
#index .center h3 {
    font-weight:700;
    font-size: 30px;
    text-transform: capitalize;
}
#index .center .addon-desc {
    margin: 0 auto;
    color:#303030;
    width: 765px;
}
#index .jms-tab {
    padding-top: 80px;
}
.feature-box i {
    background: #f3f4f6 none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 50px;
    height: 101px;
    line-height: 101px;
    width: 101px;
}
.feature-box h4{
    margin-top: 31px;
    padding-bottom: 20px;
}
footer {
    border-top: 1px solid #ebebeb;
    padding-top: 100px;
}
footer .addon-title h3 {
    padding-bottom: 27px;
}
footer .contact-info label {
    font-weight: normal;
}
footer .contact-info li {
    color: #666666;
    line-height: 36px;
}
.contact-info {
    padding-right: 59px;
}
.list_footer .addon-box a {
    color: #666;
    line-height: 36px;
}
.news_content .form-group .button {
    display: none;
}
.block_c_right .form-group {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}
.textnews_h1 span {
    color: #666;
}
.block_c_right .newsletter-input {
    border-color: #f3f4f6;
    border-radius: 30px 0 0 30px;
    color: #8e8e8e;
    font-size: 13px;
    height: 46px;
    padding-left: 17px;
    width: 70%;
}
.block_c_right .newsletter-input:hover, .block_c_right .newsletter-input:active , .block_c_right .newsletter-input:focus  {
    border-color: #f3f4f6 !important;
}
.newsletter-btn.buttonh1 {
    background: #f3f4f6 none repeat scroll 0 0;
    border-radius: 0 30px 30px 0;
    font-size: 14px;
    line-height: 46px;
    padding: 0;
    width: 30%;
	color:#111 !important;
}
.newsletter-btn.buttonh1:hover {
    background-color: #111;
    color: #fff !important;
}
.newsletter-btn.btn-default::before{
	display:none;
}
.jms-popup .newsletter-btn.btn-default::before{
	display:block;
}
.newsletter-btn.buttonh2,  .textnews_h3, .textnews_h4{
    display: none;
}
.textnews_popup.addon-title {
    display: none;
}
.jms-popup-content .textnews_popup.addon-title {
    display: block;
}
.footer_bottom {
    padding: 30px 0;
	border-top:1px solid #ebebeb;
}
.footer_bottom .addon-box p {
    text-align: right;
}
#social_block ul li {
    background: #f3f4f6 none repeat scroll 0 0;
    border-radius: 50%;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
    text-align: center;
    width: 42px;
}
#social_block ul li {
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}
#social_block ul li::before{
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
#social_block ul li:hover span, #social_block ul li:focus span, #social_block ul li:active span{
    color: #fff;
}
#social_block ul li:hover::before, #social_block ul li:focus::before,#social_block ul li:active::before {
    transform: scale(2);
}
/*Block Cart Popup*/
.top_group {
    position: static;
}

@media (max-width: 1199px){
	.headertop {
		padding: 35px 10px;
	}
	 #search_result{
	   top:44px !important;	
	}
}
@media (max-width: 991px){
	.top_menu_second .layout-column, .text_menu, .menu_hidden .pe.pe-7s-close {
		display: none;
	}
	.top_menu_second .layout-column.menu_hidden {
		display: block;
		height:44px;
	}
	.top_menu_second {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		box-shadow: none;
		left: 15px;
		opacity: 1;
		padding-top: 0;
		position: absolute;
		top: 36px;
		transform: none !important;
		visibility: visible;
		z-index: 1;
		height:auto;
	}
	.top_menu p::before{
		display:none;
	}
	.top_menu_second {
		width: auto;
	}
	.top_menu_second .container{
		width:78px;
	}
	#index .center .addon-desc {
		width: 668px;
	}
	footer .layout-column {
		margin-bottom: 20px;
	}
	footer .layout-column:last-child {
		margin-bottom: 0px;
	}
}
@media (max-width: 767px){
    .service_h1 .layout-column {
		margin-bottom: 30px;
	}
	.footer_bottom .addon-box > p{
		text-align:left;
	}
	#index .center .addon-desc {
		width: auto;
	}
	
}
@media (max-width: 670px){
	#index .jms-tab {
		padding-bottom: 68px;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 43%;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-prev {
		right: 52%;
	}
}
@media (max-width: 481px){
	.headertop {
		padding: 20px 10px 10px;
	}
	.top_logo {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 15px;
		width: 100%;
	}
   .top_group {
		float: right;
		padding-top: 15px;
		width: 60%;
	}
	.top_menu_second{
		top:94px;
	}
	.top_group .pe {
		font-size: 24px;
		line-height: 43px;
	}
	#cart_block .shoppingcart-box{
		top:55px;
	}
	#search_result {
		left: 67px !important;
		top: 53px !important;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 38%;
	}
	.headertop{
		padding:20px 0;
	}
}