{*
 * 2008 - 2020 (c) Prestablog
 *
 * MODULE PrestaBlog
 *
 * @author    Prestablog
 * @copyright Copyright (c) permanent, Prestablog
 * @license   Commercial
 * @version    4.3.5
 *}

<!-- Module Presta Blog -->
<div class="block-categories" id="prestablog_block_rss">
	<a target="_blank" href="{PrestaBlogUrl rss=all}" class="bloc-rss btn_link">
		{l s='Follow our blog Rss' mod='prestablog'}
	</a>
</div>
<!-- /Module Presta Blog -->
