{*
 * 2008 - 2020 (c) Prestablog
 *
 * MODULE PrestaBlog
 *
 * @author    Prestablog
 * @copyright Copyright (c) permanent, Prestablog
 * @license   Commercial
 * @version    4.3.5
 *}

<!-- Module Presta Blog -->

<div id="prestablog_menu_cat">
	<div id="menu-mobile"></div>
	<nav>
		{PrestaBlogContent return=$MenuCatNews}
	</nav>
</div>

<!-- Module Presta Blog -->
