/**
 * 2008 - 2020 (c) Prestablog
 *
 * MODULE PrestaBlog
 *
 * @author    Prestablog
 * @copyright Copyright (c) permanent, Prestablog
 * @license   Commercial
 * @version    4.3.5
 */
/* Hack fix */
.clearblog {
	margin-right: auto;
	margin-left: auto;
	clear:both;
}

/* Fonts */
#prestablogfront h1, #prestablogfront  h2, #prestablogfront h3, #prestablogfront h4, #prestablogfront h5, #prestablogfront h6, #prestablogauthor h1, #prestablogauthor h2, #prestablogauthor h3 {
	font-size: 2.5rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    overflow: hidden;
	margin: 0px 20px 40px 0px;
}
#prestablogfront h1 {margin-bottom:5px; margin-top:0px; border-top: 0px; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}

time.date, .info_blog { color: #7F7F7F; display: inline-block; font-size: 12px; position: relative; text-align: center; z-index: 1; margin: 0px 0px 0px 20px;    overflow: hidden;}
time.date:before, .info_blog:before { border-top: 1px solid #bfbfbf; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }
time.date span, .info_blog span { background: #fff; padding: 0px 10px; }

#prestablogfront .info_blog {
	text-align: center;
	margin-bottom: 10px;
}
/* Rating css */
.star_content .material-icons {font-size:14px;color: #ccc}
.block_bas .star_content .material-icons.checked,  .star_content .material-icons.checked {
  color: orange;
}
.block_bas .star_content {font-size: 80%;}
.rating {
  border: none;
  float: left;
  width: 135px;
}

.rating > input { display: none; }

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/** filtrage page recherche */
#categoriesFiltrage {
	display: block;
}
#categoriesFiltrage form {
	margin-top: 5px;
}
#categoriesFiltrage input.search_query {
	width: 250px;
	float: left;
	height: 32px;
	margin-right: 10px;
	margin-top: 3px;
	border: 1px solid #BDBDBD;
}
#categoriesFiltrage .button-search { border: 1px solid #BDBDBD; }
#categoriesFiltrage select {
	height: 38px;
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}
#categoriesFiltrage div#categoriesForFilter { }
#categoriesFiltrage div.filtrecat {
	float:left;
	color: #fff;
	padding: 5px;
	margin-right: 5px;
	background: #333 none repeat scroll 0 0;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
#categoriesFiltrage div.deleteCat {
	float:right;
	cursor: pointer;
	margin-left: 5px;
}
#categoriesFiltrage div.deleteCat:hover {
	color: #6f6f6f;
}
/** /filtrage page recherche */

/** Force margin for template without margin on there paragraphe css **/
#prestablogfont p, #prestablogfont ul, #prestablogfont ol { margin: 0 0 15px; }

/** Bloc Search **/
#prestablog_bloc_search {
	position:relative;
}
#prestablog_bloc_search .btn.button-search {
	background: #333 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	display: block;
	padding: 10px 0 11px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 50px;
	height: 45px;
}
#prestablog_bloc_search .btn.button-search span {
	display: none;
}
#prestablog_bloc_search .btn.button-search::after {
	content: ' ';
	background-image: url(../img/front-icons.png);
	background-position: left 2px;
	position: absolute;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	top: 12px;
	left: 18px;
}
#prestablog_bloc_search .btn.button-search:hover {
	color: #6f6f6f;
}
#prestablog_bloc_search #prestablog_search {
	 background: #fbfbfb none repeat scroll 0 0;
	 display: inline;
	 height: 45px;
	 margin-right: 1px;
	 padding: 13px 60px 13px 13px;
}
/** /Bloc Search **/

/** Related article on product */
ul.related_blog_product li {
	 display: block;
	 height: auto;
	 margin-bottom: 20px;
	 min-height: 40px;
	 width: 100%;
}
/** Block rss */
#prestablog_block_rss a {
	 background: none repeat scroll 0 0 #333333;
	 color: #fff;
	 display: block;
	 font-weight: bold;
	 overflow: hidden;
	 padding: 7px 10px 10px 10px;
	 text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	 font: 600 18px/22px "Open Sans",sans-serif;
}

#prestablog_block_rss a:hover {
	 background: none repeat scroll 0 0 #777777;
	 color: #fff;
}

#prestablog_block_rss a i {
	float:right;
}


/** Top NAV Menu */
.prestablog-nav-top {
	 border-left: 1px solid #515151;
	 float: right;
}

@media (max-width: 479px) {
	.prestablog-nav-top {
		 text-align: center;
		 width: 25%;
	}
}
.prestablog-nav-top a {
	 color: #FFFFFF;
	 cursor: pointer;
	 display: block;
	 font-weight: bold;
	 padding: 8px 10px 11px;
	 text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 479px) {
	.prestablog-nav-top a {
		 font-size: 11px;
		 padding-left: 5px;
		 padding-right: 5px;
	}
}
.prestablog-nav-top a:hover, .prestablog-nav-top a.active {
	 background: none repeat scroll 0 0 #2B2B2B;
}

/** Slide */

.prestablog_slide {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin:0;
	padding:0;
	position: relative;
	float: left;
	margin-bottom: 7px;
	background: #FFF;
	box-shadow: #ccc 0px 0px 5px;
	border-radius: 5px;
	border: 1px solid #DADADA;
}

/** If an image is wrapped in a link  */
.prestablog_slide .nivoSlider a.nivo-imageLink {
	position:absolute;top:0px;left:0px;width:100%;
	border:0;padding:0;margin:0;z-index:6;display:none; overflow:hidden; height: 100%;}

.prestablog_slide .nivoSlider img, .productslinks .nivoSlider img {display:none;position:absolute;top:0px;left:0px;max-width: none;}
.prestablog_slide .nivo-main-image, .productslinks .nivo-main-image {display: block !important;position: relative !important; width: 100% !important;}
.prestablog_slide .nivo-slice, .productslinks .nivo-slice {display:block;position:absolute;z-index:5;height:100%;top:0;}
.prestablog_slide .nivo-box, .productslinks .nivo-box {display:block;position:absolute;z-index:5;overflow:hidden;}
.prestablog_slide .nivo-box img, .productslinks .nivo-box img { display:block; }
.prestablog_slide .nivoSlider, .productslinks .nivoSlider {position:relative;}

.prestablog_slide .nivo-controlNav {
	text-align: center;
	position: absolute;
	top: 5px;
	right: 0px;
	width: 100%;
	height: 10px;
	z-index:8;
}
.prestablog_slide .nivo-controlNav a {
	background: none repeat scroll 0 0 #2A2A2A;
	border-radius: 5px 5px 5px 5px;
	float: none;
	display: inline-block;
	height: 0;
	overflow: hidden;
	padding: 6px 3px 0;
	width: 6px;
	box-shadow: #ccc 2px 2px 3px;
	cursor: pointer;
	text-indent: -9999;
	margin-top: 4px;
	margin-right: 4px;
}
.prestablog_slide .nivo-controlNav a.active, .prestablog_slide .nivo-controlNav a:hover {
	background: #fff;
	border: 2px solid #333;
	margin-bottom: -2px;
}
.prestablog_slide .nivo-directionNav .nivo-prevNav {
	background: url(../img/controls.png) no-repeat left bottom;
	float: left;
	left: 5px;
	 top: 40%;
}
.prestablog_slide .nivo-directionNav .nivo-nextNav {
	background: url(../img/controls.png) no-repeat right bottom;
	float: right;
	right: 5px;
	 top: 40%;
}
.prestablog_slide .nivo-directionNav .nivo-prevNav:hover {
	background: url(../img/controls.png) no-repeat left top;
}
.prestablog_slide .nivo-directionNav .nivo-nextNav:hover {
	background: url(../img/controls.png) no-repeat right top;
}
.prestablog_slide .nivo-directionNav a {
	position: absolute;
	 cursor: pointer;
	 z-index: 99;
	height: 32px;
	width: 35px;
	text-indent: -9999px;
	-webkit-transition: all 200ms ease-in-out;
	 -moz-transition: all 200ms ease-in-out;
	 -o-transition: all 200ms ease-in-out;
	 transition: all 200ms ease-in-out;
	opacity: 0;
}
.prestablog_slide:hover .nivo-directionNav a { opacity: 1; }

.prestablog_slide .nivo-caption  {
	position: absolute;
	bottom: 10px;
	background: url(../img/bg-texte-slide.png) repeat;
	border: 1px solid #626262;
	padding: 8px 8px 8px 5px;
	height: auto;
	width: auto;
	color: #FFF;
	box-shadow: #333 2px 2px 5px;
	z-index: 8;
	border-radius: 0 5px 5px 0;
}
/** Product linked slide */
#blog_product_linked, .page-product-box {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	background-color: rgb(243, 243, 243);
	padding: 10px 15px 15px;
	border: 1px solid rgb(233, 233, 233);
}
.page-product-box {margin-top: 10px;}
#blog_product_linked h3,.page-product-box .page-product-heading {
	padding: 10px 0 20px 0;
	border-bottom: 1px dotted #CFCFCF;
	color: #000;
}
.page-product-box a { color: #585858; }
.productslinks {
	float: left;
	position: relative;
	padding: 5px;
	width: auto;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
a .wrap_blog div {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a .productslinks img {
	padding: 10px;
	width: 100%;
	height: auto;
	border: 1px solid rgba(237,237,237,1.00);
}
a:hover .productslinks img {
	opacity: 1;
}

a .wrap_blog div {
	position: relative;
	height: 100%;
	min-height: 100%;
}
a .wrap_blog div .product_name_blog {
	position: absolute;
	left: 0;
	text-align: center;
	padding: 0;
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.73);
	opacity: 0;
	font-weight: bold;
}
a:hover .wrap_blog .product_name_blog {opacity: 1; padding: 10px;}
a .wrap_blog .product_name_blog .titre_product_blog {
	text-align: center;
	margin: auto;
	font-size: 120%;
	color: #000000;
}


/** Article link */
ul.articleslinks {
	padding-left: 40px;
	margin-bottom: 10px;
	list-style: square;
}

/** FIN SLIDE */
a.bloc-rss img {
	margin-bottom:5px;
}

a.bloc-rss:hover img {
	opacity: 0.7;
	filter:alpha(opacity=70);
}
/** Listing */
#blog_list_1-7 * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
#blog_list_1-7 {
	display: block;
	float: left;
	width: 100%;
	clear: both;
}
#blog_list_1-7 a { color: #000; }
#blog_list_1-7 li {
	display: inline-block;
	list-style: none;
	-webkit-transition: all .6s ease-in;
	-moz-transition: all .6s ease-in;
	-o-transition: all .6s ease-in;
	transition: all .6s ease-in;
	padding: 10px;
	width: 50%;
	float: left;
}
#blog_list_1-7.one_article li {
	width: 100%;
	background-color: #FFFFFF;
	display: block;
	margin-bottom: 10px;
}
#blog_list_1-7.three_article li {
	width: 33.33%;
}
#blog_list_1-7 li.blog-grid-sizer {
	width: 50%;
}
#blog_list_1-7.three_article li.blog-grid-sizer {
	width: 33.33%;
}
#blog_list_1-7.one_article li.blog-grid-sizer {
	width: 100%;
}

#blog_article_linked #blog_list_1-7 li {width: 33%;}
#blog_list_1-7 li.tiers {width: 33%;}
 #blog_list_1-7 li .link_toplist:hover {background-color: #ff5600;}
#blog_list_1-7 h3 {
	line-height: 0.9;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #E7E7E7;
	font-size: 20px;
    height: auto;
}
#blog_list_1-7 .block_cont {
	width: 100%;
	border: 1px solid #DADADA;
	background-color: #FFFFFF;
}
#blog_list_1-7.one_article .block_cont {
    border: 0px;
}
#blog_list_1-7 li:hover .block_cont {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.49);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.29);
}
#blog_list_1-7.one_article li {border: 1px solid #fff;}
#blog_list_1-7.one_article li:hover {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.49);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.29);
	border: 1px solid #CCCCCC;
}
#blog_list_1-7.one_article li:hover .block_cont {
	box-shadow: 0px 0px 5px rgba(255,255,255,0);
	-webkit-box-shadow: 0px 0px 5px rgba(255,255,255,0);
}
#blog_list_1-7 li:hover .block_cont .block_top {padding: 10px;}
#blog_list_1-7 li:hover .block_cont .block_bas {
	padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
}
#index #blog_list_1-7 li:hover .block_cont .block_top {padding: 0px !important;}
#index #blog_list_1-7 li:hover .block_cont .block_bas {
	padding-top: 20px !important;
}
#product #blog_list_1-7 li:hover .block_cont .block_top {padding: 0px !important;}
#product #blog_list_1-7 li:hover .block_cont .block_bas {
	padding-top: 20px !important;
}
.hover_blog_image:hover{

	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%);
}

_list_1-7.one_article li:hover .block_cont .block_bas {
	padding-top: 20px;
}
#blog_list_1-7 .block_top {	width: 100%; position: relative;}
#blog_list_1-7.one_article .block_cont .block_top {width: 40%; float :left; margin-right: 10px;}
#blog_list_1-7 li:hover {opacity: 1;}
#blog_list_1-7 .block_top img {width: 100%;}
#blog_list_1-7 .block_bas {
	width: 100%;
	padding: 20px;
}
#blog_list_1-7.one_article .blog-grid .block_bas {width: 100%;}
#blog_list_1-7 #blog_article_linked h3 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #CFCFCF;
    color: #626262;
}
#blog_list_1-7 #blog_article_linked h3, #blog_article_linked .blog_link {
	font-size:15px;
	height: auto;
}
#blog_list_1-7 #blog_article_linked .article_li h3 {border: none;}
#blog_list_1-7 #blog_article_linked .block_bas {padding: 10px;}
#blog_list_1-7 .comments {float: right;   font-size: 14px;}
#blog_list_1-7 a.blog_link:hover, #blog_list_1-7 .comments:hover {
	text-decoration: none;
	color: #ff5600;
}
#blog_list_1-7 p {
	margin: 12px 0px;
}
#blog_list_1-7 .block_top img, #blog_list_1-7 a, .block_cont, #blog_list_1-7 li * {
	-webkit-transition: all .6s ease-in-out;
	 -moz-transition: all .6s ease-in-out;
	 -o-transition: all .6s ease-in-out;
	 transition: all .6s ease-in-out;
}
/** Grid design **/
#blog_list_1-7 .prestablog_more {
    display: block;
    background-color: #2fb5d2;
}
#blog_list_1-7.one_article .prestablog_more {
    display: block;
	float: right;
}

#blog_list_1-7 .prestablog_more .blog_link {
	display: inline-block;
	width: 100%;
	text-align: center;
}
#blog_list_1-7 .prestablog_more a {
	color: #fff;
    padding: 15px 15px;
    height: 50px;
}
.prestablog_more {color: #fff;}
#blog_list_1-7 .prestablog_more span {
	float: right;
    height: 50px;
    padding: 15px;
	font-size: 14px;
}
#blog_list_1-7 .blog-grid .block_bas {
    width: 100%;
    padding: 20px 20px 10px 20px;
}
#blog_list_1-7 a.blog_link:hover, #blog_list_1-7 .comments:hover, #blog_list_1-7 a.blog_link:hover::before, #blog_list_1-7 .comments:hover::before {
	background-color: #777979;
	color: #fff;
}

#blog_list_1-7 h3 {
	line-height: 1.2;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-bottom: none;
	font-size: 20px;
}
.block_bas span {
	 line-height: 0.8;
	 font-size: 15px;
 }
.block_bas br {
	margin-bottom: 7px !important;
}

.prestablog_desc {font-size: 15px;}
/** Typo **/

#prestablogfont ul, #prestablogfont ol {
	padding-left: 40px;
	margin-bottom: 15px;
}

#prestablogfont ul li {
	list-style: square;
    font-size: 1.4rem;
    color: #878787;
    font-weight: 400;
}

#prestablogfont ol {
	list-style: decimal;
    font-size: 1.4rem;
    color: #878787;
    font-weight: 400;
}

.info_blog {
	font-size: 11px;
	color: #8B8B8B;
	}
.info_blog a, .date_blog-cat, ul#blog_list_1-7 li .date_blog-cat a { color: #ACACAC; }
.date_blog-cat {
	font-size: 14px;
	font-weight: normal;
}

.categorie_blog {
	color: #A020F0;
}

.categorie_blog:hover {
	text-decoration:underline;
}

/** Navigation slide */
#prestablog_nav_slide {
	width: 100%;
	float: left;
	display: block;
	clear: both;
	text-align: center;
	padding-bottom: 5px;
}
#prestablog_nav_slide a {
	background: url(../img/nav-slide.png) no-repeat right top;
	display: inline-block;
	height: 16px;
	width: 16px;
	outline: medium none;
	text-indent: -9999em;
	margin-right: 1px;
	margin-left: 1px;
}
#prestablog_nav_slide a.activeSlide {
	background: url(../img/nav-slide.png) left top;
}
#prestablog_nav_slide a:hover {
	background: url(../img/nav-slide.png) left top;
}
.prestablog_slide ul.admin { padding:0px; }

/** date */
#prestablog_dateliste ul {
	font-weight:bold;
}

#prestablog_dateliste ul ul {
	color:#7F7F7F;
	font-size:90%;
	font-weight:normal;
	margin-left:15px;
}
#prestablog_dateliste ul ul li {
	list-style-type: square;
	margin-top: 2px;
	margin-bottom: 2px;
}
/** bloc last liste */
img.lastlisteimg {
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-top: 5px;
}

/** Pagination category */
.cat_prestablog p {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}
div.prestablog_pagination {
	text-align:left;
	margin-top:15px;
	margin-bottom:15px;
}
div.prestablog_pagination a {
    padding: 3px 6px 3px 6px;
    margin-right: 2px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #aaa;
    background-color: #fff;
}
div.prestablog_pagination a:hover, div.prestablog_pagination a:active {
    padding: 3px 6px 3px 6px;
    margin-right: 2px;
    border: 1px solid #ccc;
    color: #494949;
}

div.prestablog_pagination span.current {
    padding: 5px 10px 5px 10px;
    margin-right: 2px;
    border: 1px solid #359BBD;
    background-color: #000;
    color: #fff;
}
div.prestablog_pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
div.prestablog_pagination span.more {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	color: #aaa;
}

div.block_bas p.categories {
	font-size: 85%;
}

div.block_bas p.categories a {
	font-size: 115%;
}

/** Commentaires Facebook */
#prestablog-fb-comments .fb-comments,
#prestablog-fb-comments .fb-comments iframe[style],
#prestablog-fb-comments .fb-like-box,
#prestablog-fb-comments .fb-like-box iframe[style]
{width: 100% !important;}
#prestablog-fb-comments .fb-comments span,
#prestablog-fb-comments .fb-comments iframe span[style],
#prestablog-fb-comments .fb-like-box span,
#prestablog-fb-comments .fb-like-box iframe span[style]
{width: 100% !important;}

/** Commentaire */
fieldset#prestablog-comment {
	padding: 10px;
}
fieldset#prestablog-comment p {margin: 0;}
fieldset#prestablog-comment label {
	margin: 0;
}
fieldset#prestablog-comment input {
	width: 100%;
}
fieldset#prestablog-comment input#submitComment {
	width: auto;
}
fieldset#prestablog-comment input.text {
	border: 1px solid #CCC;
}
fieldset#prestablog-comment textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
}

fieldset#prestablog-comment p#errors {
	text-align:center;
	font-weight:bold;
}

fieldset#prestablog-comment input.errors, fieldset#prestablog-comment textarea.errors {
	border:solid 1px #0B9A0B;
}

div#comments {
	display: none;
}

span#toggle-comments {
	cursor:pointer;
}

div.comment h4 a {
	text-decoration:none;
}

div.comment h4 a:hover {
	text-decoration:underline;
}

div.comment {
	margin: 10px 0 10px 0;
	padding:5px;
}

div.comment hr {
	color:#E5E5E5;
	background-color: #D9D7D7;

}

div.comment p.date-comment {
	color:#7F7F7F;
	font-size:90%;
	 margin-top: -4px;
	margin-bottom : 10px;
	padding: 0px;
}

div#abo {
	font-size:90%;
	float:right;
}

div#abo a {
	color: #DD2A81;
	text-decoration:none;
}

div#abo a:hover {
	text-decoration:underline;
}

#block_footer_last_list {
	 float: left;
	 width: 175px;
	 padding: 15px 10px;
}
#prestablog-fb-comments, #prestablog-comments  {
    padding: 10px;
    background-color: #fffc;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
	margin-top: 100px;
}

/** fix p sur bloc hÃƒÂ©ritage prestashop */
.prestablog_cat_img {
	display: inline-block;
	height: auto;
	margin-bottom: 15px;
	max-width: 100%;
	padding: 15px;
	background-color: #fff;
}

#prestablog_lastliste .btn-primary, #prestablog_catliste .btn-primary,
#prestablog_dateliste .btn-primary {
     display: block; margin-top: 10px;
     color: #fff;
     text-align: center;
}

#prestablog_lastliste p, #prestablog_catliste p, #prestablog_dateliste li  {
	margin: 0px;
	padding: 10px 0px;
	border-bottom: 1px dotted #CCCCCC;
	width: 100%;
	display: inline-block;
}
#prestablog_dateliste li {
	border-bottom: none;
}
#prestablog_dateliste li li {
	border-bottom: 1px dotted #CCCCCC;
}
#prestablog_lastliste a.button_large, #prestablog_catliste a.button_large, #prestablog_dateliste a.button_large {
	margin-top:10px;
}

.prestablog_thumb_cat {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

/** Menu category */
#prestablog_menu_cat {
    width: 100%;
    display: block;
    height: auto;
    min-height: 58px;
}

#prestablog_menu_cat nav ul {
	min-height: 58px;
}

#prestablog_menu_cat nav #nav-version {
	float:right;
}
#prestablog_menu_cat nav #nav-version:hover {
	background:none;
}
#prestablog_menu_cat nav {
	margin-bottom:10px;
}


.sub-menu.hidden {
	display: none;
}
.sub-menu.block {
	display: block;
}
#prestablog_menu_cat nav ul li i {color:#fff; cursor: pointer;margin-right: 10px; font-size: 20px}
#prestablog_menu_cat nav ul li i:hover {color: #ccc;}
#prestablog_menu_cat nav ul, img.logo_home {
	list-style: none;
	position: relative;
	background: #333333;
}
#prestablog_menu_cat nav ul:after {
	content: "";
	clear: both;
	display: block;
}
#prestablog_menu_cat nav ul li {
	float: left;
}
#prestablog_menu_cat nav span.parent {
	float: right;
}
#prestablog_menu_cat nav ul li a:hover {color: #DBDBDB;}

#prestablog_menu_cat nav ul li a {
	display: inline-block;
	padding: 18px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font: 600 18px/24px "Open Sans",sans-serif;
}
#prestablog_menu_cat nav ul li a:first-of-type i {margin-right: 0px;}
#prestablog_menu_cat nav ul li > img {
	padding: 0px 0px;
}

#prestablog_menu_cat nav ul ul {
	border-radius: 0px;
	padding: 0;
	position: absolute;
	min-width: 200px;
	z-index: 10;
}
#prestablog_menu_cat nav ul ul li {
    float: none;
    border-left: 1px solid rgba(85, 85, 85, 0.35);
    border-right: 1px solid rgba(85, 85, 85, 0.35);
    border-bottom: 1px solid rgba(85, 85, 85, 0.35);
    border-top: 0px solid rgba(85, 85, 85, 0.35);
    position: relative;
}
#prestablog_menu_cat nav ul ul li a {
	color: #fff;
	min-width: 160px;
}
#prestablog_menu_cat nav ul ul li a img {padding-right:5px;}
#prestablog_menu_cat nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
img.news {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 100%;
	}
#prestablogfont img {max-width: 100%; height: auto;}
#prestablogfont img.f_left {
	margin-right: 10px;
	margin-bottom: 10px;
}
#prestablogfont img.f_right {
	margin-left: 10px;
	margin-bottom: 10px;
}
#prestablogfont iframe {border: none; max-width:100%;}
@media (max-width: 1024px) {
#blog_list_1-7 .block_top .blog_desc {font-size: 12px;}
#blog_list_1-7 li.tiers {width: 50%;}
#blog_list_1-7 li .link_toplist {
    width: 30px;
    height: 30px;
}
}
#prestablog_catliste li {
  position: relative; }
#prestablog_catliste li span.grower {
 display: block;
 background: #f6f6f6;
 position: absolute;
 right: 0;
 top: 0;
 cursor: pointer;
 font-family: "Material Icons";
 font-size: 14px; }
 #prestablog_catliste li span.OPEN:before, #prestablog_catliste li span.CLOSE:before {
	content: "f068";
	display: block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	color: #333333;
	line-height: 30px;
	text-align: center; }
 #prestablog_catliste li span.CLOSE:before {
	content: "f067";
	color: silver; }

 #prestablog_catliste li span.OPEN ~ p {background-color: #f5f5f5;}
/* Personalised list */
.prestablog .title {text-align: center;text-transform: none !important;}

#prestablogfront {
    padding: 0px;
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
}
.rrssb-buttons {margin-bottom: 20px;}

#module-prestablog-blog .fancybox-lock {
    overflow: inherit !important;
}
#prestablog-rating {
width: 100%;
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;}
/* Author */
#prestablogauthor {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #DADADA;
    margin-bottom: 20px;
	min-height: 100px;
	width: 100%;
	display: inline-block;
}
img.author {
	border-radius: 100%;
	float: left;
	padding: 30px;
	max-width: 100%;
	height: auto;
}
#prestablogbio {
	display: block;
    padding: 15px;
    background-color: #f2f2f2;
}
#prestablogbio h4 {
	border: none;
	padding: 0;
}
@media (max-width: 770px) {
	#prestablog_menu_cat nav {display: none;}
	#prestablog_menu_cat nav ul {padding: 0;}
	#menu-mobile {
		cursor: pointer;
		background: #333333 url(../img/menu-toggle-mobile.png) no-repeat 10px center;
		display: block;
		height: 26px;
		width: 100%;
		margin-bottom: 10px;
	}
	#prestablog_menu_cat nav ul ul {
		left: 40px;
		width: auto;
	}
	#prestablog_menu_cat nav ul ul ul {
		 position: absolute;
		 top: 0px;
		width: auto;
	}
	#prestablog_menu_cat nav ul li {
		float: none;
	}
	#blog_list_1-7 li, #blog_list_1-7 li.tiers, #blog_article_linked #blog_list_1-7 li, #blog_list_1-7 li.blog-grid-sizer, #blog_list_1-7.two_article li.blog-grid-sizer, #blog_list_1-7.three_article li.blog-grid-sizer, #blog_list_1-7.three_article li {width: 100%;}
}
@media (max-width: 600px) {
#blog_list_1-7 .block_top .blog_desc {font-size: 12px;}
}

@media (max-width: 400px) {
img.news {
	float: none;
	display: block;
	clear: both;
	}
#blog_list_1-7 .block_top {
	text-align: center;
	width: 100%;
}
#blog_list_1-7 .block_bas {
	 width: 100%;
}

}

