<div class="cart-wrap clearfix">
	<a class="preview-image" href="{$product.url}" title="{$product.name|escape:'html':'UTF-8'}">
		<img alt="{$product.name|escape:'html':'UTF-8'}" src="{$product.cover.bySize.cart_default.url}" class="preview img-responsive" data-full-size-image-url = "{$product.cover.large.url}">
	</a>
	<div class="description"> 
		<a href="{$product.url}" title="{$product.name|escape:'html':'UTF-8'}">
			{$product.name}
		</a>
		<div class="price-quantity">
			<span class="price">
				{$product.price}
			</span>
		</div>
		<div class="quantity-formated" style="display:flex;">


			<input style="width: 40px; "
					class="js-cart-line-product-quantity"
					data-down-url="{$product.down_quantity_url}"
					data-up-url="{$product.up_quantity_url}"
					data-update-url="{$product.update_quantity_url}"
					data-product-id="{$product.id_product}"
					type="text"
					value="{$product.quantity}"
					name="product-quantity-spin"
					min="{$product.minimal_quantity}"
			/>

		</div>
	</div>
	<span class="remove_link">
		<a class="remove-from-cart" rel="nofollow" href="{$product.remove_from_cart_url}" data-link-action="remove-from-cart" title="{l s='remove from cart' d='Shop.Theme.Actions'}" >
			<i class="fa fa-trash-o"></i>
		</a>
	</span>
</div>